<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleanOurFlat | MajaSkibinska</title>
    <link rel="stylesheet" href="../static/styles/main_page.css">
    <!-- Dodaj link do zewnętrznej czcionki (jeśli dostępna online) -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="Roboto">
</head>
<body>
    
</body>
    <div class="main_container">
        <div class="logo">
            <img src="../static/img/Clean our2.png">
        </div>
        <div class="column_container">
            <div class="column" style="background-color: #BFB2A1;">

                <div  class="tasks_container" id="container_task_without_owner" >
                    <h1 class="owner_header">Zadania bez właściciela</h1>
                    <button> <span>Dodaj zadanie</span>
                    </button>
                    <div class="list_element">Umycie szyb
                        <select class = "box1">
                          </select>
                          <button> <span>Potwierdź</span>
                          </button>
                          <button> <span>Usuń</span>
                          </button>
                    </div>
                    
                </div>
            
                <div  class="tasks_container" id="task_to_confirm">
                    <h1 class="owner_header">Zadania do potwierdzenia</h1>

                </div>
        
                <div  class="tasks_container" id="task_done">
                    <h1 class="owner_header">Zadania zrobione</h1>
                </div>
            </div>
            <div class="column" style="background-color: #BFB2A1;">
                <div  class="owners_container" id="Kasia_container" >
                    <h1 class="owner_header">Zadania Kasi</h1>
                    <div class="list_element">Umycie podłóg
                        <button> <span>Zrobione</span>
                        </button>
                        <button> <span>Usuń</span>
                        </button>
                </button>
                    </div>
                    <div class="list_element">Pościelenie łóżka</div>
                </div>
            
                <div  class="owners_container" id="Maja_container">
                    <h1 class="owner_header">Zadania Maji</h2>

                </div>
        
                <div  class="owners_container" id="Michal_container">
                    <h1 class="owner_header">Zadania Michała</h2>
                </div>
        
                </div>
                
            </div>
        </div>
        

    <div class="footer">
        <p>© 2023 CleanOurFlat.</p>
    </div>
</html>
